.accordion {
    width: 90%;
    max-width: 700px;
    font-family: Arial, sans-serif;
}

.qns {
    color: white;
    background: #2e2e3e;
    margin-bottom: 12px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    transition: background 0.3s, box-shadow 0.3s;
}

.qns-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.qns-header h3 {

    margin: 0;
    font-size: 1.2rem;
    color: white;
}

.qns-header button {
    background: dodgerblue;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

.qns-header button:hover {
    background: #4338ca;
}

.qns p {
    margin-top: 12px;
    font-size: 0.95rem;
    color: white;
    line-height: 1.6;
}